---

- name: Appveyor environment variables
  include_vars: appveyor.yml
  when: >
    (ansible_env is defined and ansible_env.APPVEYOR is defined and ansible_env.APPVEYOR) or
    ansible_user == 'winrm_test_user'
- name: Vagrant environment variables
  include_vars: vagrant.yml
  when: ansible_user == 'vagrant'

- name: Windows | Harden
  include: windows.yml
  when: ansible_os_family == "Windows"

- name: Testing
  include: testing.yml
  when: harden_win_testing|bool
