---

- name: Get system language   # would return en-EN or de-DE
  ansible.windows.win_powershell:
    script: |
      (Get-CimInstance -ClassName Win32_OperatingSystem).MUILanguages | Select-Object -Index 0
  register: system_language
  tags: get_system_language

- name: Include language-specific variables.
  ansible.builtin.include_vars: "{{ system_language }}.yml"

- name: Appveyor environment variables
  ansible.builtin.include_vars: appveyor.yml
  when: >
    (ansible_facts['env'] is defined and ansible_facts['env']['APPVEYOR'] is defined and ansible_facts['env']['APPVEYOR']) or
    (ansible_facts['user'] is defined and ansible_facts['user'] == 'winrm_test_user')
- name: Vagrant environment variables
  ansible.builtin.include_vars: vagrant.yml
  when: ansible_facts['user'] == 'vagrant'

- name: Windows | Harden
  ansible.builtin.import_tasks: windows.yml
  when: ansible_facts['os_family'] == "Windows"

- name: Testing
  ansible.builtin.import_tasks: testing.yml
  when: harden_win_testing|bool
