---

- block:
    - name: testing | Ensure inspec is present
      win_chocolatey:
        name: inspec
        state: present

    - name: Restrict permissions for inspec directories
      win_acl:
        path: "{{ item.p }}"
        user: "{{ item.u }}"
        rights: "{{ item.r }}"
        type: "{{ item.t }}"
        state: "{{ item.s }}"
        inherit: "{{ item.i }}"
        propagation: "{{ item.pr }}"
      with_items:
        - { p: "c:\\opscode",
            u: 'BUILTIN\Users',
            r: 'Write,AppendData',
            t: allow,
            s: absent,
            i: 'ContainerInherit, ObjectInherit',
            pr: 'InheritOnly'
          }
        - { p: "c:\\opscode",
            u: 'Authenticated Users',
            r: 'Write,AppendData',
            t: allow,
            s: absent,
            i: 'ContainerInherit, ObjectInherit',
            pr: 'InheritOnly'
          }

    - name: testing | run windows-baseline
      win_command: >
        c:\opscode\inspec\bin\inspec.bat exec https://github.com/juju4/windows-baseline
          >{{ harden_win_log_dir }}\inspec.log
      ignore_errors: true

    - name: testing | inspec results
      win_shell: "Get-Content -Path \"{{ harden_win_log_dir }}\\inspec.log\""
      changed_when: false
      ignore_errors: true

  when: harden_win_testing_inspec|bool

# https://blog.malwarebytes.com/security-world/technology/2017/11/when-you-shouldnt-trust-a-trusted-root-certificate/
# FIXME! FATAL ERROR DURING FILE TRANSFER: ...
#- name: Export trusted root certificates
#  win_shell: >
#    Get-ChildItem -Path cert:\currentuser\AuthRoot -Recurse |
#      select Thumbprint, FriendlyName, Subject | ConvertTo-Html |
#      Set-Content c:\users\public\desktop\certificates.html

- include: testing-defender.yml
  when: harden_win_testing_defender|bool

- include: testing-uac.yml
  when: harden_win_testing_uac|bool

- include: testing-opf.yml
  when: harden_win_testing_opf|bool

- include: testing-speculative.yml
  when: harden_win_testing_speculative|bool

- include: testing-intelme.yml
  when: harden_win_testing_intelme|bool

- include: testing-iad.yml
  when: harden_win_testing_iad|bool

# keep last. if defender catches it, may need to restart to complete cleaning/have ansible working again
- include: testing-mimikatz.yml
  when: harden_win_testing_mimikatz|bool

#- name: Remove user _test
#  win_user:
#    name: _test
#    state: absent
