---

## FIXME! no checksum option
- name: check if WMI_Monitor archive is present
  win_stat: path="{{ harden_win_temp_dir }}\\WMIMonitor.ps1"
  register: wmimondl
- name: Download WMI_Monitor
  win_get_url:
    url: https://raw.githubusercontent.com/realparisi/WMI_Monitor/master/WMIMonitor.ps1
    dest: "{{ harden_win_temp_dir }}\\WMIMonitor.ps1"
  when: not wmimondl.stat.exists

- name: Run WMIMonitor
  win_shell: "\"{{ harden_win_temp_dir }}\\WMIMonitor.ps1\""
  register: wmiout
  ignore_errors: true

- debug: var=wmiout
