---

# http://www.marksanborn.net/howto/turn-off-unnecessary-windows-services/
# http://www.7tutorials.com/which-windows-services-are-safe-disable-when
# http://www.blackviper.com/service-configurations/black-vipers-windows-10-service-configurations/
- block:
    - name: Disable unnecessary services
      win_service:
        name: "{{ item }}"
        start_mode: disabled
        state: stopped
      with_items: "{{ harden_win_services_disable }}"
      ignore_errors: true

    - name: Set some services in manual start
      win_service:
        name: "{{ item }}"
        start_mode: manual
      with_items: "{{ harden_win_services_manual }}"
      ignore_errors: true

    - name: Set some services in automatic start
      win_service:
        name: "{{ item }}"
        start_mode: auto
      with_items: "{{ harden_win_services_automatic }}"
      ignore_errors: true

  when: harden_win_services is defined and harden_win_services
  tags:
    - services

