---
# https://cloudblogs.microsoft.com/microsoftsecure/2018/10/26/windows-defender-antivirus-can-now-run-in-a-sandbox/
# https://isc.sans.edu/forums/diary/Windows+Defenders+Sandbox/24266/

- name: Set environment variable to force Windows Defender's sandbox
  win_environment:
    state: present
    name: MP_FORCE_USE_SANDBOX
    value: "{{ harden_win_defender_sandbox | default(1) | ternary(1, 0) }}"
    level: machine
