---

## This will enable RestrictedAdmin mode, so that the destination system will accept incoming
##  RestrictedAdmin-enabled connections)
- name: Enable Remote Desktop RestrictedAdmin
  win_regedit:
    key: HKLM:\System\CurrentControlSet\Control\Lsa
    value: DisableRestrictedAdmin
    data: 0
    datatype: dword
