---

- name: check if EMET template present
  win_stat: path={{ harden_win_emet_conf }}
  register: emetconf

## FIXME! fails on ParserError: (:) [], ParentContainsErrorRecordException\r\n+ FullyQualifiedErrorId : UnexpectedToken
## works if executed manually
- name: EMET Configuration
  win_command: >
    "{{ harden_win_emet_path }}\EMET_Conf.exe" -import "{{ harden_win_emet_conf }}" \
        --system DEP=AlwaysOn SEHOP=ApplicationOptOut
  when: emetconf.stat.exists
  ignore_errors: true
