---

- name: disable wpad - HKCU
  win_regedit:
    key: HKCU:\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Wpad
    value: WpadOverride
    datatype: dword
    data: 1

- name: disable wpad - HKLM
  win_regedit:
    key: HKLM:\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Wpad
    value: WpadOverride
    datatype: dword
    data: 1
