<AppLockerPolicy Version="1">
  <RuleCollection Type="Appx" EnforcementMode="{{ harden_win_applocker_mode_appx }}">
    <FilePublisherRule Id="a9e18c21-ff8f-43cf-b9fc-db40eed6936a" Name="(Default Rule) All signed packaged apps" Description="Allows members of the Everyone group to run packaged apps that are signed." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="*" ProductName="*" BinaryName="*">
          <BinaryVersionRange LowSection="0.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
  </RuleCollection>
  <RuleCollection Type="Dll" EnforcementMode="{{ harden_win_applocker_mode_dll }}">
    <FilePathRule Id="1d04fdc7-5e29-45b1-a0d7-f7e9293774f8" Name="Allows administrators to execute all DLLs" Description="Allows members of the local Administrators group to load all DLLs." UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="7ca2deae-991c-4e26-b688-98137f9cc777" Name="Allow everyone to execute all DLLs located in the Windows folder" Description="Allows members of the Everyone group to load DLLs located in the Windows folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%WINDIR%\*" />
      </Conditions>
      <Exceptions>
        <FilePathCondition Path="%SYSTEM32%\catroot2\*" />
        <FilePathCondition Path="%SYSTEM32%\com\dmp\*" />
        <FilePathCondition Path="%SYSTEM32%\FxsTmp\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\drivers\color\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\PRINTERS\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\SERVERS\*" />
        <FilePathCondition Path="%SYSTEM32%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Debug\*" />
        <FilePathCondition Path="%WINDIR%\Downloaded Program Files\*" />
        <FilePathCondition Path="%WINDIR%\Fonts\*" />
        <FilePathCondition Path="%WINDIR%\Logs\*" />
        <FilePathCondition Path="%WINDIR%\Offline Web Pages\*" />
        <FilePathCondition Path="%WINDIR%\PCHEALTH\ERRORREP\*" />
        <FilePathCondition Path="%WINDIR%\Registration\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\com\dmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\FxsTmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Temp\*" />
        <FilePathCondition Path="%WINDIR%\tracing\*" />
      </Exceptions>
    </FilePathRule>
    <FilePathRule Id="f36fbeba-ab50-48c0-9361-41af365d82ce" Name="Allow everyone to execute all DLLs located in the Program Files folder" Description="Allows members of the Everyone group to load DLLs that are located in the Program Files folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%PROGRAMFILES%\*" />
      </Conditions>
    </FilePathRule>
  </RuleCollection>
  <RuleCollection Type="Exe" EnforcementMode="{{ harden_win_applocker_mode_exe }}">
    <FilePublisherRule Id="187ae870-255e-42d7-8ef9-9a8434a70716" Name="Prevent administrators from easily running the Internet Explorer web browser" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="WINDOWS® INTERNET EXPLORER" BinaryName="IEXPLORE.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="230ebde7-123f-4f56-9caf-a412e5265300" Name="Prevent administrators from easily running the Outlook email client" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT OFFICE OUTLOOK" BinaryName="OUTLOOK.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="54d44e7f-44b7-4d8d-961e-6d9c47e03196" Name="Prevent administrators from easily running the Thunderbird email client" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MOZILLA MESSAGING INC., L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="THUNDERBIRD" BinaryName="thunderbird.exe">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="97bca7b1-6ff4-40a5-a1fe-e8e8535f6e1e" Name="Prevent administrators from easily running the Chrome web browser" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=GOOGLE INC, L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="GOOGLE CHROME" BinaryName="chrome.exe">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="980f805b-bc66-43c7-95c4-90ef50fe5b04" Name="Prevent administrators from easily running the Firefox web browser" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MOZILLA CORPORATION, L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="FIREFOX" BinaryName="firefox.exe">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="a88c9192-bbed-4dfe-b435-d0ca25f6576e" Name="Prevent administrators from easily running the Opera web browser" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=OPERA SOFTWARE ASA, S=OSLO, C=NO" ProductName="OPERA" BinaryName="opera.exe">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="f53c8fc8-d0dd-43c4-b874-57f31ba6f4aa" Name="Prevent administrators from easily running the Safari web browser" Description="" UserOrGroupSid="S-1-5-32-544" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=APPLE INC., L=CUPERTINO, S=CALIFORNIA, C=US" ProductName="SAFARI" BinaryName="Safari.exe">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePathRule Id="afd4074c-4b47-4b55-bb6d-f35ea215408b" Name="Allow everyone to execute all files located in the Windows folder" Description="Allows members of the Everyone group to run applications that are located in the Windows folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%WINDIR%\*" />
      </Conditions>
      <Exceptions>
        <FilePathCondition Path="%SYSTEM32%\catroot2\*" />
        <FilePathCondition Path="%SYSTEM32%\com\dmp\*" />
        <FilePathCondition Path="%SYSTEM32%\FxsTmp\*" />
        <FilePathCondition Path="%SYSTEM32%\mshta.exe" />
        <FilePathCondition Path="%SYSTEM32%\pcalua.exe" />
        <FilePathCondition Path="%SYSTEM32%\spool\drivers\color\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\PRINTERS\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\SERVERS\*" />
        <FilePathCondition Path="%SYSTEM32%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\ADFS\*" />
        <FilePathCondition Path="%WINDIR%\assembly\*" />
        <FilePathCondition Path="%WINDIR%\appcompat\*" />
        <FilePathCondition Path="%WINDIR%\AppPatch\*" />
        <FilePathCondition Path="%WINDIR%\Debug\*" />
        <FilePathCondition Path="%WINDIR%\Downloaded Program Files\*" />
        <FilePathCondition Path="%WINDIR%\Fonts\*" />
        <FilePathCondition Path="%WINDIR%\Logs\*" />
        <FilePathCondition Path="%WINDIR%\Offline Web Pages\*" />
        <FilePathCondition Path="%WINDIR%\PCHEALTH\ERRORREP\*" />
        <FilePathCondition Path="%WINDIR%\Registration\*" />
        <FilePathCondition Path="%WINDIR%\servicing\Sessions\*" />
        <FilePathCondition Path="%WINDIR%\servicing\Packages\*" />
        <FilePathCondition Path="%WINDIR%\System32\Microsoft\Crypto\RSA\MachineKeys\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\com\dmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\FxsTmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Temp\*" />
        <FilePathCondition Path="%WINDIR%\tracing\*" />
        <FilePathCondition Path="%WINDIR%\twain_32\*" />
        <FilePathCondition Path="%WINDIR%\Vss\*" />
        <FilePathCondition Path="%WINDIR%\Web\*" />
        <FilePathCondition Path="%WINDIR%\WinSxS\amd64_microsoft-windows-a..atibility-assistant_31bf3856ad364e35_10.0.15063.0_none_44da5f4d5bf5bb92\pcalua.exe" />
      </Exceptions>
    </FilePathRule>
    <FilePathRule Id="7cc5dda9-9641-467a-8efd-c0856abb9d66" Name="Allow chocolatey (ProgramData)" Description="" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\chocolatey\bin\choco.exe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="67309d72-496a-44fd-bd10-721c796e295d" Name="%OSDRIVE%\ProgramData\chocolatey\choco.exe" Description="" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\chocolatey\choco.exe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="0c22fd63-d839-4a2a-a84c-d2ef963383c5" Name="Allow chocolatey tools (checksum, 7z...)" Description="" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\chocolatey\tools\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="673b8abb-d5ba-4825-9935-c6e9d93cd2a9" Name="Allow chocolatey temp directory" Description="\AppData\Local\Temp\chocolatey\*" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\vagrant\AppData\Local\Temp\chocolatey\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="d84d0604-3a7f-4229-a322-f748e24bfc86" Name="Allow Adobe reader install through chocolatey" Description="" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\Adobe\Setup\*" />
      </Conditions>
    </FilePathRule>
    <FilePublisherRule Id="bf998be8-18e0-49ff-bd19-3da6d468a9c9" Name="Allow DISMHOST.EXE" Description="Copied to User directory \APPDATA\LOCAL\TEMP\* when using dism command" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® WINDOWS® OPERATING SYSTEM" BinaryName="DISMHOST.EXE">
          <BinaryVersionRange LowSection="10.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="fb57f788-ae4e-463a-b58c-d3894fac8a26" Name="Allow SYSINTERNALS SYSMON for Administrators" Description="from SystemRoot or chocolatey ProgramData" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="SYSINTERNALS SYSMON" BinaryName="*">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePathRule Id="7cba8496-1311-4984-9767-a283db86e87c" Name="Allow sysinternals tools through chocolatey" Description="" UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\chocolatey\lib\sysinternals\tools\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="2cd280a4-1d0c-4f82-9f67-752b1778b7ad" Name="Allow Ansible temp folder execution" Description="Should be restricted to one user and only for play duration" UserOrGroupSid="S-1-5-32-544" Action="{{ harden_win_applocker_ansible_tempdir_action | default('Allow') }}">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ansible\temp\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c151e209-bc47-4029-b8ba-2131ea645e68" Name="%OSDRIVE%\temp\*" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\temp\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4eb6831b-e683-4d12-95de-f7d1a14590c9" Name="Deny execution from Removable storage devices like USB" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%HOT%" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="a968a8f9-74ee-4f05-89cd-cd9ba5ccff97" Name="Allow Program Files: Virtualbox guest additions" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%PROGRAMFILES%\ORACLE\VIRTUALBOX GUEST ADDITIONS\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="1712f2de-e1b6-4d3d-85a9-a7da49b796c1" Name="Allow everyone to execute all files located in the Program Files folder" Description="Allows members of the Everyone group to run applications that are located in the Program Files folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%PROGRAMFILES%\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="8666f1f9-53ee-4525-8d02-803a56e0ab18" Name="Allow a Trusted Execution directory per user" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\*\TrustedPathExec\*" />
      </Conditions>
    </FilePathRule>
    <FilePublisherRule Id="0ab37e60-9c2e-4cb4-8db8-dac2e8d78d2e" Name="Allow to run browser Chrome 59 and above" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=GOOGLE INC, L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="GOOGLE CHROME" BinaryName="CHROME.EXE">
          <BinaryVersionRange LowSection="59.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="77c98dec-7b78-4fcc-bdbd-8a73eebb7000" Name="Allow Windows defender (engine)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® WINDOWS® OPERATING SYSTEM" BinaryName="MSMPENG.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="0f109cd1-6986-4e6c-bc57-fee398fdba94" Name="Allow Cisco Webex meeting (ATMGR.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=CISCO WEBEX LLC, L=SAN JOSE, S=CALIFORNIA, C=US" ProductName="ATMGR MODULE" BinaryName="ATMGR.EXE">
          <BinaryVersionRange LowSection="3203.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="a0e0ad2d-27f9-40fa-bfe6-37954f4bb218" Name="Allow Go2meeting (G2MINSTALLEREXTRACTOR.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=LOGMEIN, INC., L=BOSTON, S=MASSACHUSETTS, C=US" ProductName="GOTOMEETING" BinaryName="G2MINSTALLEREXTRACTOR.EXE">
          <BinaryVersionRange LowSection="8.7.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="fbdada78-b2e6-4c04-af18-d3b1a1513ab3" Name="Allow Go2meeting (GOTOOPENER.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=LOGMEIN, INC., L=BOSTON, S=MASSACHUSETTS, C=US" ProductName="GOTO OPENER" BinaryName="GOTOOPENER.EXE">
          <BinaryVersionRange LowSection="1.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="1c1bd5ae-5031-4f86-9e21-e45d839067e2" Name="Allow Cisco webex meeting (webex.exe)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=CISCO WEBEX LLC, L=SAN JOSE, S=CALIFORNIA, C=US" ProductName="CISCO WEBEX MEETING DOWNLOAD" BinaryName="WEBEX.EXE">
          <BinaryVersionRange LowSection="3203.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="67709e32-b33c-4175-800d-3afd6083c53f" Name="Allow Go2meeting (G2M.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=LOGMEIN, INC., L=BOSTON, S=MASSACHUSETTS, C=US" ProductName="GOTOMEETING" BinaryName="G2M.EXE">
          <BinaryVersionRange LowSection="8.7.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="d9865630-f7db-43b9-916c-756d006025c6" Name="Allow to run browser Opera 46 and above" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=OPERA SOFTWARE AS, L=OSLO, S=OSLO, C=NO" ProductName="OPERA INTERNET BROWSER" BinaryName="">
          <BinaryVersionRange LowSection="46.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="99966275-e21f-4594-b678-4ce44a3b67e9" Name="Allow to run browser Internet Explorer 11 and above" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="INTERNET EXPLORER" BinaryName="IEXPLORE.EXE">
          <BinaryVersionRange LowSection="11.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="b3c4abad-4050-4f20-84f2-a0d503955292" Name="Allow to run browser installer firefox (SETUP.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MOZILLA CORPORATION, L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="FIREFOX" BinaryName="SETUP.EXE">
          <BinaryVersionRange LowSection="1.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="5c5dd0cc-e9dd-4840-9327-40eda18f148d" Name="Allow to run browser Firefox (FIREFOX.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MOZILLA CORPORATION, L=MOUNTAIN VIEW, S=CALIFORNIA, C=US" ProductName="FIREFOX" BinaryName="FIREFOX.EXE">
          <BinaryVersionRange LowSection="54.0.0.0" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="47dd0419-6324-4730-8a08-aa3cf1085b1b" Name="Allow EMET (EMET_AGENT.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="ENHANCED MITIGATION EXPERIENCE TOOLKIT" BinaryName="EMET_AGENT.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="4df6265f-f5a1-4626-b58f-7fc7c1b48f42" Name="Allow EMET (EMET_SERVICE.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="ENHANCED MITIGATION EXPERIENCE TOOLKIT" BinaryName="EMET_SERVICE.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="ab6c084b-70f4-462b-ac6a-d9d196163c71" Name="Allow Windows Defender (MPCMDRUN.EXE)" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® WINDOWS® OPERATING SYSTEM" BinaryName="MPCMDRUN.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePathRule Id="2fac835b-5f75-479f-be8a-891551a1ed13" Name="Allow osqueryd" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\ProgramData\osquery\osqueryd\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="b7c4f798-ecd0-4a1c-9d25-9101b730f767" Name="PowershellEnabled users (system32)" Description="" UserOrGroupSid="S-1-5-21-1761835084-182687533-4187292917-1003" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%SYSTEM32%\WindowsPowerShell\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="6d994279-7a37-410c-83b0-5683a39e7253" Name="PowershellBlocked group" Description="Basic exe rule. To be comprehensive, must cover dll in windows\assembly..." UserOrGroupSid="S-1-5-21-1761835084-182687533-4187292917-1004" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%SYSTEM32%\WindowsPowerShell\*" />
      </Conditions>
    </FilePathRule>
    <FilePublisherRule Id="c2e3d63a-0327-4c07-94da-06da2f819078" Name="Block Microsoft Windows Troubleshooting packs (MSDT.EXE)" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® WINDOWS® OPERATING SYSTEM" BinaryName="MSDT.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="70e718b0-1c20-4c4d-b841-8556562e2867" Name="Block Microsoft .NET INSTALLUTIL.EXE" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® .NET FRAMEWORK" BinaryName="INSTALLUTIL.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="1d1f341b-6961-476b-9fdd-956e29976e34" Name="Block Microsoft .NET REGSVCS.EXE" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® .NET FRAMEWORK" BinaryName="REGSVCS.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="ddd6779d-c611-4308-980d-8931c1696c43" Name="Block Microsoft .NET REGASM.EXE" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® .NET FRAMEWORK" BinaryName="REGASM.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="f360f38d-5587-4951-9c1d-992b51b0d742" Name="Block Windows cscript" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT ® WINDOWS SCRIPT HOST" BinaryName="CSCRIPT.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="583beed2-d318-44c7-8513-8c859887bb47" Name="Block Microsoft REGSVR32.EXE" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® WINDOWS® OPERATING SYSTEM" BinaryName="REGSVR32.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePublisherRule Id="ca19785f-af11-49d8-8070-cb0aa87c9eee" Name="Block Microsoft .NET MSBUILD.EXE" Description="subTee bypass" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePublisherCondition PublisherName="O=MICROSOFT CORPORATION, L=REDMOND, S=WASHINGTON, C=US" ProductName="MICROSOFT® .NET FRAMEWORK" BinaryName="MSBUILD.EXE">
          <BinaryVersionRange LowSection="*" HighSection="*" />
        </FilePublisherCondition>
      </Conditions>
    </FilePublisherRule>
    <FilePathRule Id="8791c32b-eb80-42ed-881b-5c64a164bf7c" Name="Allow Inspec" Description="" UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\opscode\inspec\*" />
      </Conditions>
    </FilePathRule>
  </RuleCollection>
  <RuleCollection Type="Msi" EnforcementMode="{{ harden_win_applocker_mode_msi }}">
    <FilePathRule Id="0b075828-da4a-41fc-b3b4-9ac83ad18add" Name="Allow everyone to run all Windows Installer files located in the Windows\Installer folder." Description="Allows members of the Everyone group to run all Windows Installer files located in %systemdrive%\Windows\Installer." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%WINDIR%\Installer\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4833728f-cf7e-4797-a847-c979e29b597a" Name="Allow administrators to run all Windows Installer files" Description="Allows members of the local Administrators group to run all Windows Installer files." UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="*" />
      </Conditions>
    </FilePathRule>
  </RuleCollection>
  <RuleCollection Type="Script" EnforcementMode="{{ harden_win_applocker_mode_script }}">
    <FilePathRule Id="007fba76-c11b-4f5b-ae09-4797e67c81ea" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.hta" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.hta" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="02cc3f4e-9ecb-4962-a7a0-830e889da641" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="06dce67b-934c-454f-a263-2515c8796a5d" Name="(Default Rule) All scripts located in the Program Files folder" Description="Allows members of the Everyone group to run scripts that are located in the Program Files folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%PROGRAMFILES%\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="071de44f-4ad0-4a8d-8b96-e83dbae2ea4b" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vbs" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vbs" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="08e3f167-616f-483d-bab2-fbb9f7d856c3" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.lnk" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.lnk" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="0dcf306f-3bab-4c90-90d9-fbfd9c2bdf6d" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.jse" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.jse" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="15dcb730-956c-4b60-8923-de96a44eb89f" Name="%OSDRIVE%\programdata\*.chm" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.chm" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="188f936c-dd3f-4386-81f0-95bb81796d0c" Name="%OSDRIVE%\programdata\*.vbe" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.vbe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="1cf303c6-633b-4519-a267-d9e7586ab8e0" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.jar" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.jar" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="20984dc8-c9d6-4c6f-9d76-36fd6264d5ff" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.hta" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.hta" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="21c695b7-2314-49bb-a3fc-2614eb4f234e" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.bat" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.bat" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="23a8ee9b-eb29-4d88-8791-99c34ad0fffe" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.wsf" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.wsf" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="29fc69d8-d13f-4aa0-833f-8d010dccf623" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.jar" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.jar" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="2aa74338-e385-44a5-a525-cc5e0c6f947a" Name="%OSDRIVE%\programdata\*.hta" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.hta" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="34738863-06fb-45c1-9a36-7fefe0a2b058" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.jse" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.jse" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="3c3cb59c-7161-4009-a097-c1d15f9a3242" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.lnk" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.lnk" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="3c4635df-57d1-46bb-9a41-086eb9218b4b" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.scr" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.scr" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="3d5331a0-a0ed-4b11-b6c8-b0c33b2400ae" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.chm" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.chm" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="42b6586e-b250-4c98-abe0-7e918c144270" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.scr" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.scr" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="442a52fd-5fdf-4c2c-af5d-edd2455d854d" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.hta" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.hta" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4528455a-a1f8-43ec-a106-64ec4ae98cd8" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.chm" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.chm" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4a4170c6-feb8-44f6-bebf-78a319f197fe" Name="Allow everyone to run all scripts located in the Program Files folder" Description="Allows members of the Everyone group to run scripts that are located in the Program Files folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%PROGRAMFILES%\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4ed32ffc-26e2-4351-b4b5-05688e7331d9" Name="%OSDRIVE%\programdata\*.lnk" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.lnk" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="4f0bb405-fb51-46ac-ae81-111e6ebef39d" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vbe" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vbe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="55f87d8b-f26c-4840-8e53-d28c4ca397be" Name="%OSDRIVE%\programdata\*.wsf" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.wsf" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="5f562722-d3c3-4e1d-ab66-24f62ff6f5a6" Name="%OSDRIVE%\programdata\*.bat" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.bat" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="60aab6db-7af8-44fd-b6ea-b65575d62e3c" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.bat" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.bat" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="614e405c-10b2-4d53-a92f-ef2d387c5e4d" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vbs" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vbs" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="69067f65-6766-498e-bd66-0a20d9206ac0" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.lnk" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.lnk" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="6ae871b2-0874-452f-92d8-0e039df5ea16" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.hta" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.hta" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="6c4afe66-cc9b-4795-9b2e-141473dd0616" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vb" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vb" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="6d06c572-9008-4c53-97cd-51ea2d732fe2" Name="%OSDRIVE%\programdata\*.vbs" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.vbs" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="754f07d8-16aa-437c-abe1-45f257ef82d6" Name="%OSDRIVE%\programdata\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="778768f8-dcc7-4348-89de-ec3bbf190b84" Name="%OSDRIVE%\programdata\*.jar" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.jar" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="7a05fde3-2258-47f8-8df8-09880e218330" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.lnk" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.lnk" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="8f42d1d3-5f29-469d-8f37-6f01f6c3b2f4" Name="Allow everyone to run all scripts located in the Windows folder" Description="Allows members of the Everyone group to run scripts that are located in the Windows folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%WINDIR%\*" />
      </Conditions>
      <Exceptions>
        <FilePathCondition Path="%SYSTEM32%\catroot2\*" />
        <FilePathCondition Path="%SYSTEM32%\com\dmp\*" />
        <FilePathCondition Path="%SYSTEM32%\FxsTmp\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\drivers\color\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\PRINTERS\*" />
        <FilePathCondition Path="%SYSTEM32%\spool\SERVERS\*" />
        <FilePathCondition Path="%SYSTEM32%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Debug\*" />
        <FilePathCondition Path="%WINDIR%\PCHEALTH\ERRORREP\*" />
        <FilePathCondition Path="%WINDIR%\Registration\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\com\dmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\FxsTmp\*" />
        <FilePathCondition Path="%WINDIR%\SysWOW64\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Tasks\*" />
        <FilePathCondition Path="%WINDIR%\Temp\*" />
        <FilePathCondition Path="%WINDIR%\tracing\*" />
      </Exceptions>
    </FilePathRule>
    <FilePathRule Id="9428c672-5fc3-47f4-808a-a0011f36dd2c" Name="(Default Rule) All scripts located in the Windows folder" Description="Allows members of the Everyone group to run scripts that are located in the Windows folder." UserOrGroupSid="S-1-1-0" Action="Allow">
      <Conditions>
        <FilePathCondition Path="%WINDIR%\*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="964b33db-4e1e-4a0f-a71d-c01556934e96" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vbe" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vbe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="975c7bfa-2048-468d-a0af-890a81b4d5a6" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.jar" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.jar" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="a268616d-9d62-462f-95e1-12facae0f268" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.chm" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.chm" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="af166d76-9fe2-4f2f-91aa-103260bac01b" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vbs" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.vbs" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="b4bb2468-052a-4746-ad15-7736db7c0126" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.wsf" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.wsf" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="b9e38e1e-195c-4d24-90e4-1eebf413dece" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.bat" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.bat" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c182032e-a46d-432c-8c1f-4aef7895fe28" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.jar" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.jar" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c4fded39-d900-4cb8-91ad-5fc3d17bd2d0" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vb" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vb" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c51e0e91-fac5-41ca-a87e-ef5ec8d7551e" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vbe" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vbe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c54d4c46-3e34-4e6a-a48c-4fcedee6f872" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vbe" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.vbe" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c6363e83-2256-4a12-9183-e4d0d77d6bbc" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.wsf" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.wsf" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c74abbd4-9a2f-479a-84ee-e9f2928810c1" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.jse" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.jse" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="c9cd9a71-df9f-4edf-bfe2-c2d31309383a" Name="%OSDRIVE%\programdata\*.scr" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.scr" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="cb60e2ab-aa69-41f9-8d31-169c3df7a910" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.scr" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.scr" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="cf3ae6cd-3a98-4803-9107-edd4c5c6d9ef" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vb" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vb" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="d127b166-44c8-4810-b4a4-0f7baffd2600" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="d42673dc-86be-4a41-a7b3-8b0576231513" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="d9510042-8210-426e-8507-552b1d5b5830" Name="%OSDRIVE%\programdata\*.jse" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.jse" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="d993ae2e-a11b-4f64-a02e-8d5dcd79a502" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.jse" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.jse" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="da4ee1d1-b5f3-4a65-b029-fdc6d9cfe480" Name="%OSDRIVE%\programdata\*.vb" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\programdata\*.vb" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="dd59654e-e845-4039-8064-42b4789e6731" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.chm" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.chm" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="ddc595a4-4c93-4ade-b815-59ddf40b184f" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vbs" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.vbs" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="de5f353e-5e34-4751-a970-2a9fb356437c" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vb" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\temp\*.vb" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="e5d0220b-383a-46b5-a93b-2a3f104ff9fc" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="e5f7c5f5-fbbf-4c71-8a6a-6a985d70facf" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="ece24d16-3e63-4ca5-9a27-44c89c6ae079" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.js" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\roaming\*.js" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="ed97d0cb-15ff-430f-b82c-8d7832957725" Name="All scripts" Description="Allows members of the local Administrators group to run all scripts." UserOrGroupSid="S-1-5-32-544" Action="Allow">
      <Conditions>
        <FilePathCondition Path="*" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="ee2f8d0e-7a92-4a19-b0cc-f98ea523ce12" Name="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.wsf" Description="" UserOrGroupSid="S-1-1-0" Action="Deny">
      <Conditions>
        <FilePathCondition Path="%OSDRIVE%\Users\%USERPROFILE%\Appdata\local\*.wsf" />
      </Conditions>
    </FilePathRule>
    <FilePathRule Id="10197391-56df-4457-a7bf-144d001e422f" Name="PowershellBlocked group" Description="" UserOrGroupSid="S-1-5-21-1761835084-182687533-4187292917-1004" Action="Deny">
      <Conditions>
        <FilePathCondition Path="*.ps1*" />
      </Conditions>
    </FilePathRule>
  </RuleCollection>
</AppLockerPolicy>
