{{ ansible_managed | comment }}

Import-Module -Name .\Compliance.psm1
#Test-Compliance -Path '..\..\Adobe Reader\Compliance\AdobeReaderDC.audit'
Test-Compliance -Path '..\..\Chrome\Compliance\GoogleChrome.audit'
Test-Compliance -Path '..\..\EMET\\Compliance\EMET_5.5.audit'
Test-Compliance -Path '..\..\Internet Explorer\Compliance\InternetExplorer11.audit'
Test-Compliance -Path '..\..\Windows\Compliance\Windows10.audit'
