// https://osquery.io/docs/tables/#windows
{
  "queries": {
    "win_appcompat_shims": {
      "query" : "select * from appcompat_shims;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Info on Application Compatibility shims"
    },
    "win_autoexec": {
      "query" : "select * from autoexec;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Aggregate of executables that will automatically execute on the target machine"
    },
    "win_drivers": {
      "query" : "select * from drivers;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Lists all installed and loaded Windows Drivers"
    },
    "win_ie_extensions": {
      "query" : "select * from ie_extensions;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Internet Explorer browser extensions"
    },
    "win_patches": {
      "query" : "select * from patches;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Lists all the patches applied. Note: This does not include patches applied via MSI or downloaded from Windows Update (e.g. Service Packs)."
      },
    "win_programs": {
        "query" : "select * from programs;",
        "interval": "3600",
        "platform": "windows",
        "description" : "list products as they are installed by Windows Installer."
    },
    "win_registry": {
      "query" : "select * from registry;",
      "interval": "3600",
      "platform": "windows",
      "description" : "All of the Windows registry hives"
    },
    "win_scheduled_tasks": {
      "query" : "select * from scheduled_tasks;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Lists all of the tasks in the Windows Task Scheduler"
    },
    "win_services": {
      "query" : "select * from services;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Lists all installed Windows Services"
    },
    "win_shared_resources": {
      "query" : "select * from shared_resources;",
      "interval": "3600",
      "platform": "windows",
      "description" : "Displays shared resources on a computer system running Windows"
    },
    "win_wmi_cli_event_consumers": {
      "query" : "select filter,consumer,query,command_line_template,wcec.name from wmi_cli_event_consumers wcec left outer join wmi_filter_consumer_binding wcb on consumer = wcec.relative_path left outer join wmi_event_filters wef on wef.relative_path = wcb.filter;",
      "interval": "3600",
      "platform": "windows",
      "description" : "WMI CommandLineEventConsumer, which can be used for persistance on Windows"
    },
    "win_wmi_event_filters": {
      "query": "select * from wmi_event_filters;",
      "interval": "3600",
      "platform": "windows",
      "description": "Lists WMI event filters"
    },
    "win_wmi_filter_consumer_binding": {
      "query": "select * from wmi_filter_consumer_binding;",
      "interval": "3600",
      "platform": "windows",
      "description": "Lists the relationship between event consumers and filters"
    },
    "win_wmi_script_event_consumers": {
      "query" : "select filter,consumer,query,scripting_engine,script_file_name,script_text,wsec.name from wmi_script_event_consumers wsec left outer join wmi_filter_consumer_binding wcb on consumer = wsec.relative_path left outer join wmi_event_filters wef on wef.relative_path = wcb.filter;",
      "interval": "3600",
      "platform": "windows",
      "description" : "WMI ActiveScriptEventConsumer, which can be used for persistance on Windows"
    },
// depends if you use Windows Event Forwarder or similar mechanisms. Arbitrary choice among many.
    "windows_events_sec_4688": {
      "query" : "select * from windows_events where eventid=4688 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - A new process has been created"
    },
    "windows_events_sec_4624": {
      "query" : "select * from windows_events where eventid=4624 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - An account was successfully logged on"
    },
    "windows_events_sec_4625": {
      "query" : "select * from windows_events where eventid=4625 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - An account failed to log on"
    },
    "windows_events_sec_4698": {
      "query" : "select * from windows_events where eventid=4698 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - A scheduled task was created"
    },
    "windows_events_sec_4697": {
      "query" : "select * from windows_events where eventid=4697 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - A service was installed in the system"
    },
    "windows_events_sec_5140": {
      "query" : "select * from windows_events where eventid=5140 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - A network share object was accessed"
    },
    "windows_events_sec_5145": {
      "query" : "select * from windows_events where eventid=5145 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - A network share object was checked to see whether client can be granted desired access"
    },
    "windows_events_sec_4672": {
      "query" : "select * from windows_events where eventid=4672 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - Special privileges assigned to new logon"
    },
    "windows_events_sec_4104": {
      "query" : "select * from windows_events where eventid=4104 and channel='Security';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - Microsoft Distributed Transaction Coordinator Service Installation and Setup"
    },
    "windows_events_sec_1000": {
      "query" : "select * from windows_events where eventid=1000 and channel='Application';",
      "interval": "3600",
      "platform": "windows",
      "description" : "Matching Windows Event logs - Application Error"
    }
  }
}
